Provide better YANG model verification

This is something I'd like to do eventually to have a better understanding of which YANG models/model revisions are supported that are utilized in the project.

A note for myself... Based on the [RFC 7950 section 5.6.4](https://www.rfc-editor.org/rfc/rfc7950#section-5.6.4), it appears all netconf servers must document the models supported with the `ietf-yang-library:modules-state` module/list